@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.gallery {
  &__item {
    opacity: 0;
    transition: opacity .5s;

    &.slick-active {
      opacity: 1;
    }

    &-pic {
      display: block;
      position: relative;
      padding-bottom: 55%;
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__counter {
    display: none;
  }
}