@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.about-company {
  &__title {
    font-size: 24px;
    font-weight: 500;
  }

  &__descr {
    font-size: 18px;
  }
}