@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.about-company {
  &__title {
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 17px;

    i {
      font-style: normal;
      color: $accentBlue;
    }
  }
}