@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.equip-slider {
  .arrow-prev {
    margin-left: 350px;
  }
}

.equip {
  display: flex;

  &__text {
    max-width: 430px;
    width: 100%;
    margin-top: 0;
  }

  &__pic {
    width: 320px;
    height: 290px;
  }
}