@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-cases {
  &__title-block {}

  &__title {}
}

.index-cases-list {
  overflow: hidden;
  >.slick-list {
    // margin: 0 -20px 0 0;
    width: calc(100% + 20px);
  }
}

.index-case {
  &:not(:last-child) {
    margin: 0 20px 0 0;
  }

  &__pic {}

  &__img {}

  &__title {}
}