@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-cases {
  &__title-block {}

  &__title {}

  &__arrows {
    display: none;
  }
}

.index-cases-list {
  display: flex;
  flex-flow: column;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font: 17px/1.45 $rubik;
  >.slick-list {
    overflow: hidden;
  }
  &__nav {
    margin: 30px 0 0;
    order: 10;
  }
}

.index-case {
  pointer-events: none;
  display: block;

  &__pic {
    display: block;
  }

  &__img {
    display: block;
    height: responsive('320->575', '328->446');
    object-fit: cover;
  }

  &__title {
    margin: 15px 0 0;
    display: block;
  }
}