@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.worker {
  margin-bottom: 40px;

  &__pic {
    width: 280px;
    height: 325px;
  }

  &__text {
    max-width: 320px;
  }

  &__name {
    font-size: 20px;
  }

  &__descr {
    margin: 20px 0 30px;
  }
}