@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-partners {
  &__title-block {}

  &__title {}

  &__arrows {}
}

.index-partners-list {
  &__pagination {
    > .pagiation-number {}
  }
}

.index-partner {
  padding: 20px 30px;
  height: 100px;
  &__pic {
    width: auto;
    height: auto;
  }

  &__img {
    width: auto;
    height: auto;
  }
}
