@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.partners {
  &__list {
    margin-bottom: 45px;
  }
}

.filter {
  margin: 45px 0;
  &__title {
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__inner {
    font-size: 16px;
  }
}

.partner {
  padding: 30px 60px 28px 0;

  &::after {
    top: 50%;
    left: auto;
    right: 0;
    width: 36px;
    height: 36px;
    transform: translateY(-50%);
  }
}