@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-competencies {
  &__title {}

  &__descr {}
}

.index-competencies {
  &.active {}

  &-block {}

  &-tabs {}

  &-tab {
    display: flex;
    border: 0;
    &::before {
      flex-shrink: 0;
      content: '';
      margin: 8px 15px 0 0;
      width: 30px;
      height: 1px;
      background: $accentBlue;
      opacity: 0;
      transition: opacity .5s;
      pointer-events: none;
    }
    &:first-child {}

    &:last-child {}

    &.active {
      &::before {
        opacity: 1;
      }
    }
  }
}

.index-competencies-wrap {
  margin: 0 0 -30px;
}

.index-competence {
  padding: 30px 20px 15px;
  width: calc((100% - 30px) / 2);
  height: 280px;

  &:nth-child(odd) {
    margin: 0 30px 30px 0;
  }

  &__title {}

  &__descr {}

  &__arrow {}
}

.sect-left {}

.sect-right {}