@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-competencies {
  &__title {}

  &__descr {
    margin: 0 0 30px;
  }
}

.index-competencies {
  grid-row: 1;
  grid-column: 1;
  // display: none;
  // opacity: 0;
  // visibility: hidden;
  // transition: opacity .5s, visibility .5s;
  &.active {
    // display: block;
  //   opacity: 1;
  //   visibility: visible;
  }
  &-tabs {
    font: 12px/1 $rubik;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $dirtyBlue;
  }

  &-tab {
    padding: 15px 0;
    width: 100%;
    border-top: 1px solid $gray3;
    &:last-child {
      border-bottom: 1px solid $gray3;
    }
    &.active {
      color: $accentBlue;
      pointer-events: none;
    }
  }
}

.index-competencies-wrap {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}

.index-competence {
  margin-top: 20px;
  padding: 40px 20px 20px;
  background: $gray2;
  &__title {
    font: 13px/1.35 $rubik;
    color: $accentBlue;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  &__descr {
    margin: 15px 0 0;
    font: 12px/1.35 $openSans;
  }

  &__arrow {
    margin: 50px 0 0 auto;
    display: block;
    width: 30px;
    height: 30px;
    object-fit: contain;
    pointer-events: none;
  }
}

.sect-left {}

.sect-right {}