@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-competencies {
  &__title {}

  &__descr {}
}

.index-competencies {
  &.active {}

  &-block {
  }

  &-tabs {}

  &-tab {
    &:first-child {}

    &:last-child {}

    &.active {}
  }
}

.index-competencies-wrap {
  margin: 0 0 -30px;
}

.index-competence {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
  &:nth-child(odd) {
    margin: 0 30px 30px 0;
  }
  &__title {}

  &__descr {}

  &__arrow {}
}

.sect-left {}

.sect-right {}