@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-competencies {
  &__title {
    max-width: 100%;
  }

  &__descr {}

  >.sect-left,
  >.sect-right {
    margin: 80px 0 0;
  }
}

.index-competencies {
  &.active {}

  &-tabs {}

  &-tab {
    &:first-child {}

    &:last-child {}

    &.active {}
  }
}

.index-competencies-wrap {}

.index-competence {
  padding: 40px 30px;
  &__title {}

  &__descr {}

  &__arrow {}
}

.sect-left {}

.sect-right {}