@import '../assets/colors';
@import '../assets/mixins';
@import '../assets/variables';

.btn {
  font: 12px/1.25 $rubik;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: background .5s;
}

.btn-blue {
  color: $white;
  background: $accentBlue;
  &:hover {
    background: #6089D4;
  }
}

.btn-ol {

}

@media (min-width:767.98px) {
  .btn {
    font-size: 15px;
  }
}