@import '../assets/colors';
@import '../assets/mixins';
@import '../assets/variables';

// Класс добавляется при вызове попапов и мобильного меню
body.no-scroll {
  overflow: hidden;

  .hdr.fixed {
    overflow-y: scroll;
  }
}

// Обертка для всего контента
// фиксит горизонтальную прокрутку на некоторых iOS
#page-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

// img.lazy {
//   background: url('../img/img-placeholder.svg') center/cover no-repeat;
// }

// a[href="#"] {
//   opacity: .5;
//   pointer-events: none;
// }

/* loader */
// Лоадер в основном для форм

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  // background: $color;

  &__circle {
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    animation: spin .5s linear infinite;
    // border-top-color: $color;
    // border-left-color: $color;
  }
}

.loader_white {

  // background: $color;
  >.loader__circle {
    // border-top-color: $color;
    // border-left-color: $color;
  }
}

.loading>.loader {
  opacity: 1;
  visibility: visible;
}

/* loader */

// Поле contact form 7 honeypot
.cf7-form-field {
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  position: absolute;
}

// Блок с прокруткой, который показывается на всю ширину и высоту страницы страницы
// нужен для незаметного overflow:hidden у body
// при вызове мобильного меню или попапов
#fake-scrollbar {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999;

  &.active {
    display: block;
  }
}

// Блокирование текущей ссылки в меню
// .nav__list-item {
//   &.current {
//     cursor: not-allowed;
//     > .nav__link {
//       pointer-events: none;
//       > .nav__link-text {
//         border-bottom: 1px solid;
//       }
//     }
//   }
// }

// Скрытие стандартных сообщений от contact form 7
div.wpcf7-response-output,
span.wpcf7-not-valid-tip,
.screen-reader-response {
  display: none !important;
}

body {
  font: 14px/1.35 $openSans;
  color: $black;
}

// Общие стили для секций
.sect {
  margin-top: $sectionVerticalPadding320;
  margin-bottom: $sectionVerticalPadding320;

  .sect-title-text {
    background: $white;
  }

  &-bg {
    margin-top: $sectionVerticalPadding320;
    margin-bottom: $sectionVerticalPadding320;
    padding-top: $sectionVerticalPadding320 * 2;
    padding-bottom: $sectionVerticalPadding320 * 2;
    background: $gray2;

    .sect-title-text {
      background: $gray2;
    }
  }

  &-title-1 {
    font: 500 46px/1.3 $rubik;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &-title-2 {
    font: 500 19px/1.3 $rubik;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &-title-3 {
    font: 500 17px/1.35 $rubik;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &-title-4 {
    font: 500 13px/1.35 $rubik;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &-title-5 {
    margin: 0 0 40px;
    font: 16px/1.25 $rubik;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dirtyBlue;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background: $gray3;
    }

    >.sect-title-text {
      padding: 0 15px 0 0;
      position: relative;
      z-index: 1;
    }
  }

  &-descr {}
}

// [class^=sect-title-] {
//   font-family: $rubik;
//   letter-spacing: 0.03em;
// }

@media (min-width:767.98px) {
  body {
    font-size: 16px;
    line-height: 1.4;
  }

  // Общие стили для секций
  .sect {
    margin-top: $sectionVerticalPadding768;
    margin-bottom: $sectionVerticalPadding768;

    &-bg {
      margin-top: $sectionVerticalPadding768;
      margin-bottom: $sectionVerticalPadding768;
      padding-top: $sectionVerticalPadding768 * 2;
      padding-bottom: $sectionVerticalPadding768 * 2;
    }

    &-left {
      // width: 238px;
      width: 34%;
      display: inline-block;
      vertical-align: top;
    }

    &-right {
      // width: 465px;
      width: 65%;
      display: inline-block;
      vertical-align: top;
    }

    &-title-1 {
      font-size: 120px;
      line-height: 1.35;
    }

    &-title-2 {
      font-size: 30px;
    }

    &-title-3 {
      font-size: 24px;
      line-height: 1.3;
    }

    &-title-4 {
      font-size: 17px;
    }

    &-title-5 {
      margin: 0;
      font-size: 16px;
      &::after {
        display: none;
      }
      >.sect-title-text {
      }
    }


    &-descr {}
  }
}

@media (min-width:1023.98px) {

  // Общие стили для секций
  .sect {
    margin-top: $sectionVerticalPadding1024;
    margin-bottom: $sectionVerticalPadding1024;

    &-bg {
      margin-top: $sectionVerticalPadding1024;
      margin-bottom: $sectionVerticalPadding1024;
      padding-top: $sectionVerticalPadding1024 * 2;
      padding-bottom: $sectionVerticalPadding1024 * 2;
    }

    &-title-1 {
      font-size: 101px;
    }

    &-title-2 {}

    &-title-3 {}

    &-title-4 {}

    &-title-5 {}

    &-descr {}
  }
}

@media (min-width:1279.98px) {
  body {
    font-size: 18px;
  }

  // Общие стили для секций
  .sect {
    margin-top: $sectionVerticalPadding1280;
    margin-bottom: $sectionVerticalPadding1280;

    &-bg {
      margin-top: $sectionVerticalPadding1280;
      margin-bottom: $sectionVerticalPadding1280;
      padding-top: $sectionVerticalPadding1280 * 2;
      padding-bottom: $sectionVerticalPadding1280 * 2;
    }

    &-title-1 {
      font-size: 133px;
    }

    &-title-2 {
      font-size: 40px;
    }

    &-title-3 {
      font-size: 24px;
    }

    &-title-4 {
      font-size: 20px;
    }

    &-title-5 {}

    &-descr {}
  }
}