@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hdr {
  padding-top: 45px;
  padding-bottom: 45px;
  &__logo {}

  &__logo-img {}

  &__burger {
    display: none;
  }

  &__nav {
    margin: 0 0 0 auto;
    display: block;
    font: 16px/1 $mainFont;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__nav-list {
    display: flex;
    align-items: center;
  }

  &__nav-li {
    &:not(:last-child) {
      margin: 0 45px 0 0;
    }
  }
}