@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.hdr {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;

  &__logo {}

  &__logo-img {
    width: 147px;
    height: 20px;
    object-fit: contain;
  }

  &__burger {
    margin: 0 0 0 auto;
    width: 21px;
    height: 10px;
    background: url('../img/icon-burger.svg') center/contain no-repeat;
  }

  &__nav {
    display: none;
  }

  &__nav-list {}

  &__nav-li {}
}