@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.page-hero {
  &__title {
    text-transform: uppercase;
    font: 500 34px/140% $mainFont;
    letter-spacing: 0.03em;
  }
}
