@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-principles {
  &__title {
    max-width: 100%;
  }
}

.index-principles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  &__item {
    width: calc((100% - 30px) / 2);
  }

  &__item-title {
    margin: 0 0 15px;
    padding: 0 0 15px;
    font-size: 16px;
  }

  &__item-descr {}
}