$accentBlue: #4774c8;
$lightBlue: #6089d4;
$darkBlue: #2f5bac;
$disabledBlue: #cedaf2;
$dirtyBlue: #4d5c68;
$gray1: #e6e6e9;
$gray2: #f4f4f6;
$gray3: #c5c3c6;
$white: #fff;
$black: #0b0c0c;
$selectGray: #f9f9f9;
$red: #ce5456;