@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.partner-cases {
  margin-top: $sectionVerticalPadding768;
  margin-bottom: $sectionVerticalPadding768;

  &__title-block {
    margin: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__prev {
    margin: 0 25px 0 0;
  }
}

.partner-cases-list {
  font-size: 16px;
  &__nav {
    display: none;
  }
}

.partner-case {

  &__img {
    height: 260px;
  }

  &__title {
    margin: 20px 0 0;
  }
}